.env
venv/
.venv/
__pycache__/
**pycache**/
*.pyc
logs/
cache/
archive (3)/
dataset/*.csv
*.pt
*.pth
*.ckpt
*.safetensors
fake_news_module/ml/saved_model/checkpoint-*/
fake_news_module/ml/saved_model/model.safetensors
fake_news_module/ml/saved_model/tokenizer.json
fake_news_module/ml/saved_model/tokenizer_config.json
fake_news_module/ml/saved_model/training_args.bin
fake_news_module/ml/saved_model/training_metrics.json
fake_news_module/similarity/index/
.vscode/
.idea/
*.bin
*.npy